.menu {
  margin: 10px;
  padding: 1px;
}
.menu .row {
  display: inline;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  float: right;
  /* margin-right: 120px; */
}

.menu li {
  display: inline;
  /* margin-right: 20px; */
}

.menu img {
  float: left;
  /* margin-left: 100px; */
}

.menu li button {
  padding: 10px 10px;
  /* margin: 0px 15px 0px 0px; */
  background-color: #76ba5c;
  border: none;
  border-radius: 4px;
  margin: 0px 15px 0px 0px;
}

.menu li button a {
  padding: 5px 10px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

.banner-bx {
  background-image: url("http://www.studentdesk.in/dist/img/bg_studentdesk_in.jpg");
  margin-top: 70px;
}

.banner-bx h3 {
  color: white;
}
.btn-box #city-btn {
  margin: 0px 20px;
  padding: 3px 14px;
  width: 170px;
  border: 2px solid;
  margin-top: 60px;
}

.btn-box #city-btn a {
  color: white;
  font-weight: 600;
}

.btn-box #inst-btn {
  margin: 0px 20px;
  padding: 10px 14px;
  width: 170px;
  border: 2px solid;
  margin-top: 60px;
}

.btn-box #inst-btn a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.banner-bx h5 {
  margin: 30px 0px;
  font-size: 17px;
  color: white;
}
.banner-bx h3 {
  padding-top: 100px;
}

.btn-box span {
  color: white;
  font-weight: bold;
}
/* 
.banner-bx #search{
    border: 2px solid red;
    margin: 10px 0px;
} */

.search {
  margin-bottom: 140px;
}

.row .search {
  background: rgba(199, 193, 195, 0.39);
  padding: 10px;
}

.row input {
  width: 45%;
  border: none;
  padding: 10px;
  background: #fafafa;
  border-radius: 10px 0px 0px 10px;
  color: #5e5e5e;
  font-size: 14px;
}

.Search-bx .search button {
  height: 42px;
  padding: 0px 13px;
  border: none;
  background-color: #76ba5c;
  border-radius: 0px 10px 10px 0px;
}

ul {
  list-style-type: none;
}
.SearchLetter ul {
  list-style-type: none;
  padding: 17px;
}

.SearchLetter li {
  display: inline;
  text-decoration: none;
  color: white;
}

.SearchLetter li a {
  text-decoration: none;
  color: white;
}

.section {
  padding: 130px 0px;
}

/* Slider Part */

.SliderH2 {
  color: #576f7d;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  padding-top: 120px;
}

.NewArrivel {
  width: fit-content;
}

.main-line {
  border: 2px solid #76ba5c;
  width: 24%;
  margin: 0 auto 15px;
  margin-bottom: 40px;
}

.NewArrivel .caption {
  text-align: left;
  color: green;
}


.slick-slider .slick-prev:before {
  content: "Next";
  font-size: 12px;
  color: black;
  border-radius: 4px;
  float: right;
  font-weight: bolder;
  background-color: #76ba5c;
}

.slick-slider .slick-arrow::before {
  /* background-color: chartreuse; */
  margin: 5px;
  padding: 7px 14px;
}
.slick-slider .slick-next:before {
  content: "Prev";
  color: black;
  font-weight: bolder;
  font-size: 12px;
  margin: 0px 0 0px -63px;
  background-color: #76ba5c;
  border-radius: 4px;
}

#view-more {
  width: 130px;
  cursor: hand;
  text-align: center;
  background-color: #76ba5c;
  color: #fff;
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  font-weight: 600;
  border: none;
  margin-top: 20px;
  margin-bottom: 100px;
}

/* How it's work */

.work-ttl h3 {
  color: #576f7d;
  margin: 0;
  padding: 0;
  font-weight: 600;
  text-align: center;
  margin-top: 100px;
  text-transform: uppercase;
}

.work-ttl .line {
  border: 2px solid #76ba5c;
  width: 24%;
  margin: 8px auto 15px;
  margin-bottom: 100px;
}
.work-bx img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

/* News slider */
.News{
    padding-bottom: 100px;
}

.NewsH3 {
  color: #576f7d;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  padding-top: 120px;
}

.news-ttl {
  background-color: #f3f3f3;
}

.news-ttl h3 {
  color: #576f7d;
  margin: 0;
  padding: 0;
  padding-top: 50px;
  font-weight: 600;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  text-transform: uppercase;
}

.news-ttl .news-line {
  border: 2px solid #76ba5c;
  width: 32%;
  margin: 8px auto 15px;
  margin-top: -85px;
  margin-bottom: 50px;
}

.news-ttl .container {
  padding-bottom: 50px;
  width: 62%;
}

.news-ttl .slick-slider .slick-arrow::before {
  display: none;
}

/* footer */

.footer {
  background-color: #333;
  color: white;
}

.footer .line1 {
  border: 2px solid #76ba5c;
  margin: 10px 128px 10px;
  width: 50%;

}

.footer .line2 {
  border: 2px solid #76ba5c;
  margin: 10px 0 26px;
  width: 36%;
}

.footer .line3 {
  border: 2px solid #76ba5c;
  margin: 10px 0 26px;
  width: 50%;
}

.text-content-old ul li{
    display: inline-block;
    padding: 5px;
    float: left;
    width: 50%;
    margin-bottom: 12px;
}
/* copyrights */

.footer .copyright {
  color: #908f8f;
  font-weight: 500;
  font-size: 14px;
  background-color: #211e1e;
  padding: 20px;
}

.copy-right{
    padding: 20px;
    background: #211E1E;

}

/* LISTING PAGE */

.Listing-bx{
    box-shadow: 1px 0 4px #d1d1d1;
    border: 1px solid #d1d1d1;
}

.img-list{
    float: left;
}
.List-btn {
    display: flex;
    
}
.detail-bx{
    text-align: left;
    float: left;
}
.detail-bx ul li {
    color: grey;
}

.List-btn button{
    margin-right: 10px;
    margin-top: 20px;
    background-color: #76ba5c;
    text-decoration: none;
    border-radius: 4px;
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 600;
    padding:6px 10px;
}

.title{
    color: #76ba5c;
}

.Listing ul{
    color: #666;
}
.postedby{
    float: right;
    margin: 38px 84px;

}
